.vscode/
__pycache__/

ioboard/.vscode/
ioboard/artifacts/
ioboard/build/
ioboard/modm/
ioboard/.sconsign.dblite
ioboard/project.xml.log
ioboard/SConstruct

motorboard/.vscode/
motorboard/artifacts/
motorboard/build/
motorboard/modm/
motorboard/.sconsign.dblite
motorboard/project.xml.log
motorboard/SConstruct

pumpboard/.vscode/
pumpboard/artifacts/
pumpboard/build/
pumpboard/modm/
pumpboard/.sconsign.dblite
pumpboard/project.xml.log
pumpboard/SConstruct

servoboard/.vscode/
servoboard/artifacts/
servoboard/build/
servoboard/modm/
servoboard/.sconsign.dblite
servoboard/project.xml.log
servoboard/SConstruct

servoboard_arduino/.pio/
servoboard_arduino/.vscode/